

#news-category {
  position: absolute;
  top: 20px;
  left: 16px;
  z-index: 2;
}

#news-image {
  border: 1px solid #3cbc1c;
  vertical-align: middle;
  margin-top: -1px;
  z-index: -1;
}

#news-box h5{
    transition: all 0.3s ease;
}

#news-box:hover h5{
    color: #3cbc1c;

}
